<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Huntr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B01EA3291D7DF5FA00BD7E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01EA3421D7DF5FB00BD7E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01EA34D1D7DF5FB00BD7E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
